html, body {
    margin: 0px;
    padding: 0px;
    background-color: #000;
    height: 100%;
}
#canvas {
    border: 3px solid #F00;
    border-radius: 0px;
    position: fixed;
    width: 500px;
    height: 400px;
    left: 50%;
    top: 50%;
    margin-left: -250px;
    margin-top: -200px;
    box-sizing: border-box;
    padding: 0px;
    background-color: #111;
    cursor: default;
    z-index: 0;
    overflow: auto;
}
